<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="JIS" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Database_JIS;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>